.intro {
    padding: 20px;
    margin-top: 100px;
    text-align: center;
    background: #e5ecec;
    margin-bottom: 50px;

    .profile-img {
        height: 200px;
        width: 200px;
        border-radius: 100px;
        margin: 0 auto;
        overflow: hidden;
        position: relative;
        top: -100px;
        margin-bottom: -70px;
    }
}

.font-email {
    color: #0a446b;
}


.intro-section {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
    position: relative;
    background-size: cover;
    z-index: 1;
    background: #fff;
}

.radial-progress {
    position: relative;
    max-width: 200px;
    margin: 0 auto;

    .progress-title {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        letter-spacing: 0;
        text-align: center;
        transform: translate(-50%,15px);
        color: #777;
    }

    .progressbar-text {
        font-size: 2.2em;
        font-weight: 500;
        padding-bottom: 25px;
        color: #333;
        position: absolute;
        left: 50%; top: 50%; padding: 0px; margin: 0px; transform: translate(-50%, -50%);
    }
}
